#chat {
  width: 100%;
  border: 2px solid #000;
  font-family: arial;
  font-size: 60px;
}

#messages {
  width: 100%;
  font-family: arial;
  font-size: 60px;
}

.fa-circle {
  position: absolute;
  left: 10px;
  top: 10px;
  z-index: -1;
}

#a0 {
  color: blue;
}

#a1 {
  color: red;
}

#a2 {
  color: yellow;
}

#a3 {
  color: green;
}

#a4 {
  color: orange;
}

#a5 {
  color: aqua;
}

#a6 {
  color: salmon;
}

#a7 {
  color: yellowgreen;
}

#a8 {
  color: tomato;
}

#a9 {
  color: slateblue;
}

#a10 {
  color: seagreen;
}

#a11 {
  color: purple;
}

#a12 {
  color: pink;
}

#a13 {
  color: plum;
}

#a14 {
  color: palegreen;
}

#a15 {
  color: orangered;
}

#a16 {
  color: olive;
}

#a17 {
  color: maroon;
}

#a18 {
  color: lime;
}

#a19 {
  color: indigo;
}
